<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>FoodFormRead</servlet-name>
    <servlet-class>com.tomcatTest.FoodFormRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodFormRead</servlet-name>
    <url-pattern>/FoodFormRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FoodMenuOperation</servlet-name>
    <servlet-class>com.tomcatTest.FoodMenuOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodMenuOperation</servlet-name>
    <url-pattern>/FoodMenuOperation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFood</servlet-name>
    <servlet-class>com.tomcatTest.DeleteFood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFood</servlet-name>
    <url-pattern>/DeleteFood</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/ErrorHandler</location>
  </error-page>
</web-app>